$border_color: #858585;

$gray: #c1c1c1;
$medium_gray: #d2d2d2;
$light_gray: #e8e8e8;
$very_light_gray: #f9f9f9;

$border_radius: 4px;

$very_big_space: 100px;
$big_space: 50px;
$medium_space: 25px;
$small_space: 15px;